body, html {
  height: 100%;
 }
 
 .bg{
   height: 100%;
   background-image: url("./bg.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   z-index: 50;
 }
 form {
   display: flex;
 }
 form > input {
   text-align: center;
 }
 .rest {
   position: absolute;
   top: 0;
   left: 0;
   height: 100vh;
   width: 100vw;
   display: flex;
   flex-direction: column; 
   justify-content: center;
   align-items: center;
   backdrop-filter: blur(10px) brightness(50%);
 }
 #result, input{ 
   color: hsl(0, 0%, 100%);
 }
 
 #result {
   z-index: 100;
   text-align: center;
   width: 20%;
   padding: 20px 0px;
 }
 .wrapper{
   display: flex;
 }